body {
    margin: 0;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
  }
  /*navbar*/
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    display: flex;
  }
  ul,
  li {
    list-style: none;
    margin: 0 10px;
  }
  nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
  }
  /*header*/
  .header-content {
    height: auto;
  }
  .header-content img
  {
    width: 100%;
  }
  .header-content h1{
    color: gray;
    letter-spacing: 5px
  }
  /*about*/
  .about-container img{
    width: 90%; 
    height:auto;
    opacity: 0.5
  }
  .about-container,
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 100px;
  }
  .about-text
  {
    width: 500px;
    align-items: center;
    padding-left: 20px
  }
  .about-text p{
    line-height: 1.5em
  }
  .about-text span{
    background-color: gainsboro;
    padding: 3px
  }
  .about-text .suptext{
    color: gray;
  }
  /*menu*/
  .menu-text{
    align-items: center;
    padding-right: 20px
  }
  .menu-text p{
    color: gray
  }
  .menu-container img{
    opacity: 0.5;
    width: 90%;
    height: auto;
  }
  /*contact*/
  .Contact-container h3{
    color: rgb(100, 145, 184);
  }
  .form-container
  {
    display: flex;
    justify-content: center;
    align-items: center
  }
  .form-container {
    width: 60%;
    text-align: center;
    margin: 0 auto; /* Center the form container */
}

form {
    width: 80%;
    margin: 0 auto; /* Center the form */
}
  input {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid grey;
    height: 40px;
  }
  form button{
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
  }

  /*footer*/
  footer
  {
    padding: 20px;
    text-align: center;
    background-color: gainsboro
  }